.nav {
    display: flex;
    min-height: 5rem;
    align-items: stretch;

    img {
        max-height: 3rem;
    }

    > .container {
        display: flex;
    }

    a,
    .brand {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        color: cget($colors, 'dark');
    }

    .brand {
        font-size: 1.75em;
        padding-top: 0;
        padding-bottom: 0;

        img {
            padding-right: 1rem;
        }
    }

    .button {
        margin: auto 1rem;
    }

    [aria-current='page']:not(.button),
    .active:not(.button) {
        color: #000; /* fallback */
        color: cget($colors, 'primary');
    }
}

$layout: cget($theme-map, 'layout');
$directives: cget($layout, 'pull-directives');
$directive_classes: prefix($directives, '.nav-');
$content-directives: cget($layout, 'nav-directives');

#{$directive_classes} {
    display: flex;
    flex: 1;
}

@each $directive,
    $justification in zipMap($directive_classes, $content-directives)
{
    #{$directive} {
        justify-content: #{$justification};
    }
}

@media screen and (max-width: 480px) {
    .nav,
    .nav > .container {
        flex-direction: column;
    }

    #{$directive_classes} {
        flex-wrap: wrap;
        justify-content: center;
    }
}
