@use "sass:list";

/* Breakpoints */
$breakpoints: (
    'sm': (
        600px,
        899px,
    ),
    'md': (
        900px,
        1199px,
    ),
    'lg': (
        null,
        1200px,
    ),
) !default;

/* Grid */
$grid-cols: 12;
$grid-max-width: 120rem;
$grid-gutter: 2rem;

/* Forms */
$buttons: (
    '.button',
    "[type='button']",
    "[type='reset']",
    "[type='submit']",
    'button'
);

/* Typography */
$pull-directives: ('left', 'right', 'center');
$nav-directives: ('flex-start', 'flex-end', 'center');
$text-alignments: list.append($pull-directives, 'justify');
$text-transforms: ('uppercase', 'lowercase', 'capitalize');

/* Theming */
$color-map: (
    'primary': #14854f,
    'grey': #747681,
    'light': #d2d6dd,
    'dark': #3f4144,
    'error': #d43939,
    'success': #28bd14,
    'white': #ffffff,
) !default;
$bg-color: #ffffff;
$bg-secondary-color: #f3f3f6;

/* Font */
$font-family-sans: -apple-system, BlinkMacSystemFont, Avenir, 'Avenir Next',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif !default;
$font-family-mono: monaco, 'Consolas', 'Lucida Console', monospace !default;
$font-color: #333333;
$font-size: 1.6rem;

/* Combined Layout */
$layout-map: (
    'bg-color': $bg-color,
    'bg-secondary-color': $bg-secondary-color,
    'pull-directives': $pull-directives,
    'nav-directives': $nav-directives,
    'text-alignments': $text-alignments,
    'text-transforms': $text-transforms,
    'grid-cols': $grid-cols,
    'grid-max-width': $grid-max-width,
    'grid-gutter': $grid-gutter,
);

/* Combined font */
$font-map: (
    'size': $font-size,
    'family-sans': $font-family-sans,
    'family-mono': $font-family-mono,
    'color': $font-color,
);
