@use "sass:map";
@import './functions';

$colors: cget($theme-map, 'colors');
$layout: cget($theme-map, 'layout');
$font: cget($theme-map, 'font');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: inherit;
  scrollbar-width: thin;
  scrollbar-color: cget($colors, 'light') cget($layout, 'bg-color');

  &:before,
  &:after {
    box-sizing: inherit;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: cget($layout, 'bg-color');
  }
  &::-webkit-scrollbar-thumb {
    background: cget($colors, 'light');
  }
}

body {
  background-color: cget($layout, 'bg-color');
  line-height: 1.6;
  font-size: cget($font, 'size');
  color: cget($font, 'color');
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif; /*fallback*/
  font-family: cget($font, 'family-sans');
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0.35em 0 0.7em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.85em;
}

a {
  color: cget($colors, 'primary');
  text-decoration: none;

  &:hover:not(.button) {
    opacity: 0.75;
  }
}

button {
  font-family: inherit;
}

p {
  margin-top: 0;
}

blockquote {
  background-color: cget($layout, 'bg-secondary-color');
  padding: 1.5rem 2rem;
  border-left: 3px solid cget($colors, 'light');
}

dl dt {
  font-weight: bold;
}

hr {
  border: none;
  background-color: cget($colors, 'light');
  height: 1px;
  margin: 1rem 0;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;

  &.striped tr:nth-of-type(2n) {
    background-color: cget($layout, 'bg-secondary-color');
  }
}

table td,
th {
  vertical-align: middle;
  padding: 1.2rem 0.4rem;
}

thead {
  border-bottom: 2px solid cget($colors, 'light');
}

tfoot {
  border-top: 2px solid cget($colors, 'light');
}

code,
kbd,
pre,
samp,
tt {
  font-family: cget($font, 'family-mono');
}

code,
kbd {
  padding: 0 0.4rem;
  font-size: 90%;
  white-space: pre-wrap;
  border-radius: 4px;
  padding: 0.2em 0.4em;
  background-color: cget($layout, 'bg-secondary-color');
  color: cget($colors, 'error');
}

pre {
  background-color: cget($layout, 'bg-secondary-color');
  font-size: 1em;
  padding: 1rem;
  overflow-x: auto;

  code {
    background: none;
    padding: 0;
  }
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

img {
  max-width: 100%;
}

fieldset {
  border: 1px solid cget($colors, 'light');
}

iframe {
  border: 0;
}
